<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"><title>Quiz</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h2> Autores </h2>
<form method="get" action="/author">
Alumnos: <%= alumnos %> <p>
<img src="f1.jpg" >
<img src="f2.jpg" >
</form>
</body>
</html>
